*{
    margin : 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    background-image:url("background-forest.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ol{
    position: relative;
    transform: translate(0%, -100%);
    list-style-type: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(151, 151, 151);
    text-decoration: none;
    font-size: large;
    font-weight: 500;
}
nav a:hover{
    color: white;
}
nav li:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
button{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(141, 141, 141);
    border-style: none;
    font-size: large;
    font-weight: 500;
}
button:hover{
    color: white;
    transform: scale(1.2);
    transition: 0.3s;
}
body:hover ol{
     transform: translate(0%,20%);
     transition: 1s;
}
.img{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 3s;
}
@keyframes spin {
    0%{
       
    }
    50%{
        scale: 2;
        transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
       scale: 4;
    }
}